<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" rel="stylesheet" />
    </head>

    <body>
        <form method="post" id="myForm" action="/validate_password" enctype="multipart/form-data">
            <label for="fname">Write your password:</label>
            <input type="password" id="password" name="password">
            <input type="hidden" id="download_link" name="download_link" value="download_link" />
            <input class="submit" type="submit" value="Download">
        </form>
        <div id="result"></div>
    </body>
 </html>